{% block menu %}
{% load static %}
{% load sitetree %}
<div id='auth-menu' style='position: absolute; top: 0; right: 0; padding: 1%; text-size: 1em; clear: left;'>
    <img id='shareBtn' title='Click Here to Share on Facebook' src='{% static "tonetutor/images/facebook-share-button.png" %}'></img>

    <div id='authenticated-user'>
    {% if user.is_anonymous or not user.is_authenticated %}
        ToneTutor
<!--         <div id='login'><a href='{% url "auth_login" %}?next=/tutor'>login</a></div>
        <div id='register'><a href='{% url "registration_register" %}'>register</a></div>
 -->
    {% else %}
        {{user.username}}
<!--         <div id='logout'><a href='{% url "auth_logout" %}'>log out</a></div>
 -->
    {% endif %}
    </div>

    <div id='site-menu'>
        {% sitetree_menu from "ttsitetree" include "trunk,root" %}
    </div>
</div>
{% endblock %}
