{% extends "tonetutor/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href='{% static "webui/css/homepage.css" %}' />

    <script>
    $(document).ready(function(){
        if(window.MediaRecorder == undefined) {
            $('#unsupported').show(0);
            $.post({
                'url': '{% url "tonetutor_api-report-homepage-browser" %}',
                'data': {
                    'media_recorder_supported': false,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                }
            });
        }
        else {
            $('#supported').show(0);
            $.post({
                'url': '{% url "tonetutor_api-report-homepage-browser" %}',
                'data': {
                    'media_recorder_supported': true,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                }
            });
        }
    });
    </script>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div id='title'>Welcome to the Mandarin Tone Tutor!</div>

    <div id='content'>
        <div id='tone-animation'>
            <a href='{% url "tonetutor_tutor" %}'>
                <img class='borderedElement' src='{% static "webui/images/tone_animation.gif" %}'>
            </a>
            <p id='supported'>
                <a href='{% url "tonetutor_tutor" %}'>Take me to the Tone Tutor</a><br/>
                Please note that you will be prompted to share your microphone.
            </p>
        </div>
    
        <div id='unsupported'>
            <p>The browser you're using is '{{browser_family}}' version '{{browser_version_string}}'</p>
            <p>I'm sorry to inform you that this browser doesn't have
                <span title='MediaRecorder interface not supported'>the features necessary</span> to
                record your pronunciation attempts for Tone Tutor to give you feedback.
                In order to use Tone Tutor please install one of the browsers listed below:
            </p>
            
            <ul>
                <li><a href='https://www.google.com/chrome/browser/desktop/index.html'>Chrome (Desktop)</a></li>
                <li><a href='https://www.mozilla.org/en-US/firefox/new/'>Firefox (Desktop)</a></li>
    
                <li><a href='https://www.mozilla.org/en-US/firefox/android/'>Firefox for Android</a></li>
                <li><a href='https://www.mozilla.org/en-US/firefox/ios/'>Firefox for iOS</a></li>            
            </ul>
            
        </div>
        <p>Learning to pronounce the tones in Mandarin is one of the most difficult parts
            of learning Mandarin, probably second only to learning to write the characters.
            Tone Tutor is a simple tool for the beginning learner to get fast feedback on their
            pronunciation of tones for single pinyin syllables.  This will give your learning
            a speed-boost through the initial challenges.
        </p>
        <p> Don't spend too much time on one syllable.  With our first model, the grader can be
            a bit strict. Don't get discouraged and if you can't get the pronunciation right
            after 6-8 tries, move on.  The syllable will come up again after you've strengthened
            your skills.
        </p> 
        <p>
            Currently in Tone Tutor the sounds themselves aren't graded only your pronunciation of
            the tones.  Example sounds are by native Mandarin speakers from different regions
            of China.
        </p>

        <p><span style='font-size: 120%'>How does it work?</span> Many recordings of native
            speakers pronouncing these syllables have been analyzed using a custom
            machine-learning algorithm to identify tones from audio samples.  This analysis
            results in the model I use to grade your pronunciation.  The more data I
            have, including your attempts, the more accurate and forgiving I can make the next
            version of the Mandarin Tone Tutor.
        </p>
    </div>
{% endblock %}
