{% extends "tonetutor/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <title>ToneTutor Subscription Payment Successful</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
{% endblock %}

{% block body %}
    {{block.super}}
    <div id='col-right'>
        {% if success %}
            Purchase success!
            <p>Congratulations, your subscription has been extended from {{begin_date}} - {{end_date}}.</p>
            <a href='{% url "tonetutor_tutor" %}'>Click here to visit the ToneTutor</a>
        {% else %}
            Purchase failure.
            <a href='{% url "tonetutor_subscription" %}'>Click here to try again</a>
            Error Details:<br/>
            {{error_msg}}
        {% endif %}
    </div>
{% endblock %}