# System-level dependencies
# libav-tools (for avconv)
# normalize-audio
# libpq-dev (for deployment; pip package psycopg2 needs this to build) 

# Use the distribution versions if these if you can
#numpy       # Required by scipy
#scipy

# Package to cleanly arrange menu tree via admin
django-sitetree

docker/dependencies/snack_2.2.10/python/

git+ssh://gitrepos/opt/gitrepos/tonerecorder.git@v1.1.5#egg=tonerecorder==1.1.5
git+ssh://gitrepos/opt/gitrepos/hanzi_basics.git@v1.1.2#egg=hanzi-basics==1.1.2

Django >= 1.9.7
djangorestframework
git+ssh://gitrepos/opt/gitrepos/ttlib.git@v0.2.3#egg=ttlib==0.2.3
git+ssh://gitrepos/opt/gitrepos/syllable_samples@v0.2.1#egg=syllable-samples==0.2.1
mutagen
pytaglib    # Requires system-level taglib be installed

django-user_agents

django-registration==2.1.2

stripe

# Automatic Testing
pytest
django-pytest

# For deployment only
gunicorn
