{% extends "tonetutor/base.html" %}
{% load static %}

{% block body %}
    {{block.super}}
    {% if form.errors %}
        {% for error in form.errors.all %}
            {{error}}
        {% endfor %}
    {% endif %}

    <p class='errornote'>
        {% for error in form.errors.values %}
            {{error}}
        {% endfor %}
    </p>

    <form action='{% url "auth_login" %}' method='POST'>
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type='hidden' name='next' value='{{next}}'/>
        <input type='submit'/>
    </form>
    
    <p>Don't have a username yet?  <a href='{% url "registration_register" %}'>Click here to register</a>.
    </p>
{% endblock %}
