{% extends "tonetutor/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <script type='text/javascript'>
        window.setTimeout(function(){window.location='{% url "tonetutor_homepage" %}';}, 5000)
    </script>
{% endblock %}

{% block body %}
    {{block.super}}
    <title>Logged Out</title>
    <p>You have been logged out</p>
    <p>If you aren't redirected automatically in five seconds,
        <a href='{% url "tonetutor_homepage" %}'>Click here to return to the ToneTutor homepage</a>.
    </p>
{% endblock %}
