{% load static %}
<html>
<!--
Context includes: {{form}} [1]
[1] https://django-registration.readthedocs.io/en/2.1.2/quickstart.html
-->
<head>
    <link rel="stylesheet" type="text/css" href='{% static "tonetutor/css/site.css" %}' />
</head>

<body>
    <div id='title'>Register to use ToneTutor</div>
    
    <div id='registration-code'>
        <p id='registration-code'>Use registration code "{{free_trial_code}}" for a free one-day trial
        </p>
    </div>

    <div id='content' style='text-align: right;'>
        <p class='errornote'></p>
        <form method='POST' action='{% url "registration_register" %}'>
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type='submit' />
        </form>
    </div>
</body>

</html>
