{% load static %}
<html>
<!--
Context includes: {{form}} [1]
[1] https://django-registration.readthedocs.io/en/2.1.2/quickstart.html
-->
<head>
    <link rel="stylesheet" type="text/css" href='{% static "tonetutor/css/site.css" %}' />
</head>

<body>
    <div id='title'>Register to use ToneTutor</div>

    <div id='content'>
        <p class='errornote'></p>
        <form method='POST' action='{% url "registration_register" %}'>
            {% csrf_token %}
            {{form}}
            <input type='submit' />
        </form>
    </div>
</body>

</html>
