upstream app_server_tonetutor {
    # For a TCP configuration:
    server 127.0.0.1:8001 fail_timeout=0;
}

server {
    listen [::]:80 default_server ipv6only=off;
    server_name _;

    client_max_body_size 4G;
    keepalive_timeout 5;

    location /static/ {
        autoindex on;
        alias /tonetutor-static/;
    }

    location /media/ {
        alias /mnt/data-volume/tonetutor-media/;
    }

    location / {
        # checks for static file, if not found proxy to app
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_read_timeout  240;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass   http://app_server_tonetutor;
    }
}
