{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            font-size: 200%; 
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static/webui/css/tutor.css">
    <script src='{% static "webui/js/jquery-3.1.0.min.js" %}'></script>

    <script>
    $(document).ready(function(){
        if(window.MediaRecorder !== undefined) {
            navigator.mediaDevices.getUserMedia({
                audio: true
            }).then(function (stream) {
                // do something with the stream
                var recorder = new MediaRecorder(stream);
                recorder.addEventListener('dataavailable', function(e) {
                    // e.data contains the audio data! let's associate it to an <audio> element
                    var el = document.querySelector('audio');
                    el.src = URL.createObjectURL(e.data);
                    var fd = new FormData();
                    // Get extension
                    typePieces = e.data.type.split('/');
                    ext = typePieces[typePieces.length - 1];
                    fd.append('fname', 'upload.' + ext);
                    fd.append('data', e.data);
                    fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'upload-audio-url' %}",
                        data: fd,
                        processData: false,
                        contentType: false
                    }).done(function(data) {
                        alert("Sent data to {% url 'upload-audio-url' %}");
                        console.log(data);
                    });
                });

                // start recording here...
                recorder.start();
                alert('recording started');
                // and eventually call this to stop the recording, perhaps on the press of a button
                alert('recording stopped');
                recorder.stop();
            });
        }
        else {
            alert('No MediaRecorder support');
        }
    });
    </script>
</head>

<body>
    <div id='results'>
        {% if result_tone == None %}
            <img src='/static/webui/images/blue_question-mark.png' />
        {% elif result_tone == expected_tone %}
            <img src='/static/webui/images/green_checkmark.png' />
        {% elif result_tone != expected_tone %}
            <img src='/static/webui/images/red_x.png' />
        {% endif %}
        <p>
        Sounded like tone {{result_tone}} was expecting {{expected_tone}}.
        </p>
    </div>

    <hr>

    <div>Please record syllable {{record_syllable}} (tone {{record_tone}})</div>
    <a href='{% static audio_sample %}'>Listen</a>
    <form action="{% url 'upload-audio-url' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recording_form }}
       <input id="submit" type="submit" value="Upload">
    </form>

    <audio id='audio' controls='' src=''></audio>

    <div>
        Context Details:
        <ul>
            <li>result_tone: {{result_tone}}</li>
            <li>expected_tone: {{expected_tone}}</li>
            <li>record_tone: {{record_tone}}</li>
            <li>record_syllable: {{record_syllable}}</li>
        </ul>
    </div>
    
</body>

</html>
