#title {
    font-size: 250%;
    text-align: center;
}
#content {
    font-size: 200%;
    padding: 5%;
}
#tone-animation {
    display: inline-block;
    padding: 2% 5% 2% 2%;
    width: 25%;
    text-align: right;
    float: right;
}
    
#tone-animation img {
    padding: 5%;
    width: 100%;
}

#supported {
    text-align: center;
    display: none;
}

#unsupported {
    display: none;
}
