#title {
    font-size: 250%;
    text-align: center;
}
#content {
    font-size: 200%;
    padding: 5%;
}
#tone-animation {
    display: inline-block;
    padding: 2% 5% 2% 0%;
    width: 20%;
    text-align: right;
    float: right;
}
    
#tone-animation img {
    padding: 5%;
    border: 2px solid #828;
    width: 55%;
}

#supported {
    display: none;
}

#unsupported {
    display: none;
}
