<xhtml>

<head>
</head>

<body>
    <h3>{{expected_sound}}{{expected_tone}}</h3>
    <audio id='recording_audio' controls='' src='{{ recording_url }}'></audio>

    <form>
        <h3>Pronunciation Quality Issues:</h3>
        <fieldset id="tone_quality">
            <input type="radio" value="1"name="group1">1
            <input type="radio" value="2" name="group1">2
            <input type="radio" value="3" name="group1">3
            <input type="radio" value="4" name="group1">4
            <input type="radio" value="5" name="group1">5
        </fieldset>

        <h3>Recording Quality Issues:</h3>
        <input type="checkbox" name="discard">Discard<br>
        <input type="checkbox" name="button_sounds">Button Sounds<br>
        <input type="checkbox" name="background_hum">Background Hum<br>
        <input type="checkbox" name="background_noise">Background Noise<br>
        <input type="checkbox" name="other">Other (Specify Below)<br>
        <input type="text" name="other_audio_problem">Problem Details<br>
    </form>
</body>

</xhtml>